<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= t('app.title') %></title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://unpkg.com/feather-icons"></script>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://unpkg.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; img-src 'self' data:;">
</head>
<body>
    <div class="app-container">
        <%- include('sidebar') %>
        <main class="content-area">
             <div id="view-container">
                <% modules.forEach(function(module, index) { %>
                    <div id="view-<%= module.id %>" class="view-section <%= index === 0 ? 'active' : '' %>">
                        <%- include(module.viewPath) %>
                    </div>
                <% }); %>
             </div>
        </main>
    </div>
    <script>
        feather.replace();
    </script>
    <script src="../renderer-entry.js"></script>
</body>
</html>
